<section class="footer" id="site-footer">
  <footer>
    <div class="container">

      <div class="row newsletter-section" data-aos="fade-up" data-aos-duration="800" data-aos-offset="250">
        <div class="col-md-12">
          <h3>NEWSLETTER</h3>
          <form class="form-inline">
            <div class="col-sm-3 my-1 pl-0 pr-0 pr-sm-3">
              <input type="email" class="form-control mb-2"  placeholder="Email">
            </div>
            <div class="col-sm-3 my-1 pl-0 pr-0 pr-sm-3">
              <input type="text" class="form-control mb-2" placeholder="Name">
            </div>
            <div class="col-sm-3 my-1 pl-0 pr-0 pr-sm-3">
              <input type="text" class="form-control mb-2" placeholder="Surname">
            </div>
            <div class="col-sm-3 my-1 pl-0 pr-0 pr-sm-3">
              <button type="submit" class="btn btn-newsletter mb-2">confirm</button>
            </div>
          </form>

        </div>
      </div>

      <div class="row footer-navigation d-none d-sm-flex"  data-aos="fade-up" data-aos-duration="800" data-aos-offset="250">
        <div class="col-sm-3">
          <a href="#" class="d-block">Story</a>
          <a href="#" class="d-block">Cuisine</a>
          <a href="#" class="d-block">Winary</a>
          <a href="#" class="d-block">Events</a>
        </div>
        <div class="col-sm-3">
          <a href="#" class="d-block">Story</a>
          <a href="#" class="d-block">Cuisine</a>
          <a href="#" class="d-block">Winary</a>
          <a href="#" class="d-block">Events</a>
        </div>
        <div class="col-sm-3">
          <a href="#" class="d-block">Story</a>
          <a href="#" class="d-block">Cuisine</a>
          <a href="#" class="d-block">Winary</a>
          <a href="#" class="d-block">Events</a>
        </div>
        <div class="col-sm-3">
          <a href="#" class="d-block">Story</a>
          <a href="#" class="d-block">Cuisine</a>
          <a href="#" class="d-block">Winary</a>
          <a href="#" class="d-block">Events</a>
        </div>
      </div>

      <div class="row information">
        <div class="col-sm-3 d-none d-sm-block">
          <a href="#" class="d-block">Contact</a>
          <a href="#" class="d-block">Cookies</a>
          <a href="#" class="d-block">Terms and conditions</a>
        </div>
        <div class="col-sm-3">
          Gelerija test d.o.o
          <br>
          Some adress, 76300, City
        </div>
        <div class="col-sm-3">
          Opening times: Wed - Sat: 11 am to 10 pm
        </div>
        <div class="col-sm-3 footer-contacts">
          P: <a href="tel:+38766123123">+387 11 123 123</a>
          <br>
          E: <a href="mailto:test@test.com">test@test.com</a>
        </div>
      </div>

    </div>
  </footer>
</section>




<div class="go-reservation">
  <a href="#reservation" class="btn btn-reservation">Make a reservation</a>
</div>
