<div class="main-section">

  <div class="heder-section">
    <div class="section-cover-div section-cover">
      <h5>Reserve a table</h5>
      <hr class="align left">
      <p>To provide you with a complete culinary experience, a reservation is obligatory.</p>
      <a href="#reservation">More</a>
    </div>

    <div class="mouse-scroll">
      <div class="scroller">

      </div>
    </div>

  </div>
  <div class="container">
    <div class="row mg-top-150">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <h1 class='title-par'>Story</h1>
        <h5 class="subtitle-par">THE SAVINJA VALLEY, SURROUNDED BY HOPS</h5>
        <p class="section-text">
          Nature, environment and tradition express our story. We are returning to the basics that are neglected in everyday rush. An individual element of the environment and gratitude for every day is an inspiration that gives us strength.
          <br>
          <br>
          Ambition has written a story of our three locations - objects with a cultural heritage. Former outbuilding of Novo Celje mansion, hotel in Novo Celje baroque park and Villa Široko are monuments of the past, which are seen through the eyes of the present. We take care for our heritage and upgrade it with our work. The prize is we can spend our working days in these mystical environments.
          <br>
          <br>
          We create our tastes responsibly. Our development is our motivation. The team consists of individuals whose characteristics and values are the quality of our service. Friendship is what enriches our lives.
        </p>
      </div>
    </div>
  </div>

  <section class="content">
    <div class="container">

      <!--first item-->

      <div class="row item">
        <div class="col-md-6 col-lg-5 offset-lg-0 col-xl-4 offset-xl-1 mt-4 mt-md-0 order-2 order-md-1 section-cover"
             data-aos="fade-right" data-aos-duration="800" data-aos-offset="450">
          <h5>GALERIJA OKUSOV</h5>
          <hr class="align">
          <h5>NOVO CELJE</h5>
          <p>To provide you with a complete culinary experience, a reservation is obligatory.</p>
          <a href="#" >More</a>
        </div>

        <div class="col-md-6 col-lg-7 offset-lg-0 col-xl-6 offset-xl-0 order-sm-0 order-1 order-md-2 "
             data-aos="fade-left" data-aos-duration="800" data-aos-offset="450">
          <img src="assets/pictures/home-page-first.jpg" class="w-100" />
        </div>
      </div>
      <!--second item-->
      <div class="row item">
        <div class="col-md-6 col-lg-7 offset-lg-0 col-xl-6 offset-xl-0"
             data-aos="fade-right" data-aos-duration="800" data-aos-offset="450">
          <img src="assets/pictures/home-page-second.jpg" class="w-100" />
        </div>

        <div class="col-md-6 col-lg-5 offset-lg-0 col-xl-4 offset-xl-1 mt-4 mt-md-0 section-cover"
             data-aos="fade-left" data-aos-duration="800" data-aos-offset="450">
          <h5>GALERIJA OKUSOV</h5>
          <hr class="align">
          <h5>NOVO CELJE</h5>
          <p>To provide you with a complete culinary experience, a reservation is obligatory.</p>
          <a href="#">More</a>
        </div>

      </div>
      <!--third item-->
      <div class="row item">
        <div class="col-md-6 col-lg-5 offset-lg-0 col-xl-4 offset-xl-1 mt-4 mt-md-0 order-2 order-md-1 section-cover"
             data-aos="fade-right" data-aos-duration="800" data-aos-offset="450">
          <h5>GALERIJA OKUSOV</h5>
          <hr class="align">
          <h5>NOVO CELJE</h5>
          <p>To provide you with a complete culinary experience, a reservation is obligatory.</p>
          <a href="#">More</a>
        </div>

        <div class="col-md-6 col-lg-7 offset-lg-0 col-xl-6 offset-xl-0 order-sm-0 order-1 order-md-2 "
             data-aos="fade-left" data-aos-duration="800" data-aos-offset="450">
          <img src="assets/pictures/home-page-third.jpg" class="w-100" />
        </div>
      </div>

      <!--gift section-->
      <div class="row">
        <div class="col-md-12 col-lg-12 col-xl-10 offset-xl-1 gift-section">
          <div class="card">
            <h1 class="heading">Give your loved ones something special</h1>
            <h5 class="sub-heading">WITH ONE GIFT MAKE TWO HAPPY</h5>
            <div class="quota">
              <img src="assets/pictures/quote.svg" width="35px" alt="Alternate Text" />
              <p class="d-inline-block">The cuisine is socializing at a pleasant gastronomic offer. Pamper your loved ones and make their culinary experience special.</p>
            </div>

            <a href="#" class="btn-voucher">Buy gift voucher</a>
            
          </div>
        </div>
      </div>

   

    </div>
  </section>

</div>


  <section class="reservation-part" id="reservation">
    <div class="container">

    <!--reservation section-->
    <div class="row reservation-section">
      <div class="col-md-8 offset-md-4 col-lg-6 offset-lg-6 col-xs-5 offset-lg-7">
        <div class="contact-form" data-aos="fade-left" data-aos-duration="800" data-aos-offset="650">
          <h4 class="sub-heading">Make a reservation</h4>
          <p class="small-par">To provide you with a complete culinary experience, a reservation is obligatory.</p>
          <form class="pt-4">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Date" />
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Time of Arrival" />
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Number of attendees" />
            </div>
            <br>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="First name and last name" />
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Email" />
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Phone number" />
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="license-agree">
              <label class="form-check-label" for="license-agree"><span class="checkmark"></span> I agree with the terms and conditions of the reservation system, the use of personal data in accordance with GDPR guidelines and the rules and regulations of Galerija okusov d.o.o.</label>
              
            </div>
            <div class="form-group">
              <button class="btn btn-make-reservation">Make reservation</button>
            </div>

          </form>
        </div>

      </div>
    </div>

    </div>
  </section>
