.social-sidebar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.social-sidebar a {
  display: block;
  text-align: center;
  padding: 10px 16px;
  color: #fff;
  font-size: 20px;
  background: #000;
}
.social-sidebar a:hover {
  background-color: #bb9a69;
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .social-sidebar {
    display:none;
  }
}
